/* css for the chessground board in the middle of the app*/

#boardContainer{
    display: none;
}

#boardContainer.active{
    display: flex;
}

#chessboard {
    width: var(--main-size);
    height: calc(var(--main-size));
}
