/* css for configuration for the buttons*/

/* google icons setting */
/* class name is forced */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    position: relative;
    font-size: 32px;
}

#buttonBarContainer {
    height: var(--main-size);
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.button-bar-button {
    background: var(--color-bg);
    border: solid var(--color-grey) 2px;
    border-radius: 0;
    padding: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------------------------------------------------*/
/* play/pause*/
/*----------------------------------------------------------------------------*/
.play-pause-button { 
    color: var(--color-bg);
    border: none;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    height: 50px;
    width: 50px;  
}

.play-pause-button::before {
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
}

.play-pause-button:hover::before {
    filter: blur(20px);
    opacity: 1;
}

#playButton {
    background: var(--color-green);
}

#playButton::before {
    background: var(--color-green);
}

#pauseButton {
    background: var(--color-red);
}

#pauseButton::before {
    background: var(--color-red);
}

/*----------------------------------------------------------------------------*/
/* config button toggle*/
/*----------------------------------------------------------------------------*/
/* buttons unclicked*/
.button-bar-button span {
    color: var(--color-grey);
}

/* buttons clicked*/
.button-bar-button.active {
    background: var(--color-grey);
}

.button-bar-button.active span {
    color: var(--color-bg);
}

/* overlays for the filter icon are added to the span element of the button */
/* goal state: till-done*/
.till-done {
    background: var(--color-grey);
}

.till-done span {
    color: var(--color-bg);
}

/* filter state: infinity*/
.infinity {
    background: var(--color-grey);
}

.infinity span {
    color: var(--color-bg);
}


.infinity span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(40deg);
    width: 35%;
    height: 55%;
    background-color: var(--color-grey);
    border-radius: 25%;
    z-index: 0;

}

/* filter state: on*/
.filter-on {
    background: var(--color-grey);
}
.filter-on span {
    color: var(--color-bg);
}

/*filter state: on-red*/
.filter-on-red {
    background: var(--color-grey);
}

.filter-on-red span {
    color: var(--color-bg);
}

.filter-on-red span::after {
    content: '';
    position: absolute;
    bottom: 0; 
    right: 0;
    width: 10px;
    height: 10px;
    background-color: var(--color-red);
    border-radius: 50%;
}

.disabled {
    opacity: 0.6;
}
