#scoreContainer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-type: size;
}

#scoreValue {
    height: 50%;
    font-size: 60cqh;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

#scoreMax {
    color: var(--color-light);
    height: 32px;
    font-size: 32px;
    opacity: 0.5;
    text-align: start;
    margin-left: 70%;
}
