.config-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 50px;
    width: calc(var(--main-size) - 1px);
    heigth: 100%;
    background-color: var(--color-dark);
    border: solid var(--color-light) 2px;
    font-size: 28px;
}
