#lichessContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
.load-input{
    background-color: var(--color-dark);
    border: solid var(--color-light) 1px;
    width: 100%;
    padding: 10px;
    color: var(--color-grey);
    font-size: inherit;
}

#loadContainerButton{
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
    border-radius: 0;
    padding: 15px;
    font-size: inherit;
}
